<a href="https://colab.research.google.com/github/vishal-pandey/recommendation-system/blob/master/recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
df = pd.read_csv("https://github.com/rani700/datasets/blob/master/INvideos.csv?raw=true")

In [0]:
df.head()

      video_id  ...                                        description
0  kzwfHumJyYc  ...  Presenting Sharry Mann latest Punjabi Song  Cu...
1  zUZ1z7FwLc8  ...  पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...
2  10L1hZ9qa58  ...  Watch Stylish Star Allu Arjun @ ChaySam Weddin...
3  N1vE8iiEg64  ...  This video showcases the difference between pe...
4  kJzGH0PVQHQ  ...  why Samantha became EMOTIONAL @ Samantha naga ...

[5 rows x 16 columns]

In [0]:
df.shape

(37352, 16)

In [0]:
df.keys()

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [0]:
newdf = df.iloc[:1000, [0, 2, 4, 6, 11]]

In [0]:
newdf.head()

      video_id  ...                                  thumbnail_link
0  kzwfHumJyYc  ...  https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg
1  zUZ1z7FwLc8  ...  https://i.ytimg.com/vi/zUZ1z7FwLc8/default.jpg
2  10L1hZ9qa58  ...  https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg
3  N1vE8iiEg64  ...  https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg
4  kJzGH0PVQHQ  ...  https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg

[5 rows x 5 columns]

In [0]:
tags = newdf.iloc[:, 3].values

In [0]:
tags[0].replace('"', '').split("|")

['sharry mann',
 'sharry mann new song',
 'sharry mann cute munda',
 'sharry mann latest song',
 'sharry mann punjabi song 2017',
 'parmish verma',
 'parmish verma new song',
 'parmish verma sharry mann',
 'parmish verma sharry mann new song',
 'parmish verma cute munda',
 'new punjabi song 2017',
 'punjabi song 2017',
 'parmish verma new song 2017',
 'parmish verma latest song 2017',
 'punjabi songs 2017']

In [0]:
import re

In [0]:
ttags = []
tagslist = []

for i in tags:
    t = i.replace('"', '').split("|")
    ttags.append(t)
    for j in t:
        tagslist.append(j)

In [0]:
title_tags = []
titles = newdf.iloc[:, 1]
for i in titles:
  t = re.sub(' \d+|\(|\)|\||\-|\[|\]|&|,|!|\/|\.|\?|\:|\'|\*', '', i).split(' ')
  title_tags.append(t)
  for j in t:
    tagslist.append(j)

In [0]:
title_tags[0]

['Sharry',
 'Mann',
 'Cute',
 'Munda',
 '',
 'Song',
 'Teaser',
 '',
 'Parmish',
 'Verma',
 '',
 'Releasing',
 'on',
 'November']

In [0]:
tagslist = np.array(tagslist)

In [0]:
len(tagslist)

29633

In [0]:
uniquetags = np.unique(tagslist)

In [0]:
len(uniquetags)

10514

In [0]:
uniquetags[1]

' 14.11.2017'

In [0]:
uniquetagslist = list(uniquetags)
aa = []
bb = []

for i in ttags:
  temp = []
  for k in i:
    temp.append(uniquetagslist.index(k))
  aa.append(temp)

for i in title_tags:
  temp = []
  for k in i:
    if uniquetagslist.index(k) != 0:
      temp.append(uniquetagslist.index(k))
  bb.append(temp)

In [0]:
toupdate = np.array(aa)

In [0]:
newdf['tagsid'] = pd.DataFrame({'col':aa})

In [0]:
newdf.head()

      video_id  ...                                             tagsid
0  kzwfHumJyYc  ...  [8140, 8143, 8141, 8142, 8145, 7538, 7541, 754...
1  zUZ1z7FwLc8  ...  [9337, 9345, 9290, 6891, 8660, 7368, 5353, 557...
2  10L1hZ9qa58  ...  [3969, 3968, 947, 7256, 7992, 5433, 5432, 7245...
3  N1vE8iiEg64  ...  [1354, 4108, 1451, 2726, 1710, 3824, 1443, 136...
4  kJzGH0PVQHQ  ...  [1454, 6891, 8573, 8574, 4322, 8975, 8974, 799...

[5 rows x 6 columns]

In [0]:
score = []
for i in range(len(newdf.iloc[:, 5].values)):
  # temp = newdf.iloc[:, 5].values[i].copy()
  try:
    temp = newdf.iloc[:, 5].values[i].copy()
  except AttributeError:
    # print(newdf.iloc[:, 5].values[i])
    temp = []
  temp.insert(0, newdf.iloc[:, 2].values[i])
  temp = temp + bb[i]
  score.append(temp)

In [0]:
newdf.head()

      video_id  ...                                             tagsid
0  kzwfHumJyYc  ...  [8140, 8143, 8141, 8142, 8145, 7538, 7541, 754...
1  zUZ1z7FwLc8  ...  [9337, 9345, 9290, 6891, 8660, 7368, 5353, 557...
2  10L1hZ9qa58  ...  [3969, 3968, 947, 7256, 7992, 5433, 5432, 7245...
3  N1vE8iiEg64  ...  [1354, 4108, 1451, 2726, 1710, 3824, 1443, 136...
4  kJzGH0PVQHQ  ...  [1454, 6891, 8573, 8574, 4322, 8975, 8974, 799...

[5 rows x 6 columns]

In [0]:
newdf['score'] = pd.DataFrame({'col':score})

In [0]:
newdf.head()

      video_id  ...                                              score
0  kzwfHumJyYc  ...  [1, 8140, 8143, 8141, 8142, 8145, 7538, 7541, ...
1  zUZ1z7FwLc8  ...  [25, 9337, 9345, 9290, 6891, 8660, 7368, 5353,...
2  10L1hZ9qa58  ...  [24, 3969, 3968, 947, 7256, 7992, 5433, 5432, ...
3  N1vE8iiEg64  ...  [23, 1354, 4108, 1451, 2726, 1710, 3824, 1443,...
4  kJzGH0PVQHQ  ...  [24, 1454, 6891, 8573, 8574, 4322, 8975, 8974,...

[5 rows x 7 columns]

In [0]:
newdf.iloc[:, [0, 1, 4, 6, 5]].head()

      video_id  ...                                             tagsid
0  kzwfHumJyYc  ...  [8140, 8143, 8141, 8142, 8145, 7538, 7541, 754...
1  zUZ1z7FwLc8  ...  [9337, 9345, 9290, 6891, 8660, 7368, 5353, 557...
2  10L1hZ9qa58  ...  [3969, 3968, 947, 7256, 7992, 5433, 5432, 7245...
3  N1vE8iiEg64  ...  [1354, 4108, 1451, 2726, 1710, 3824, 1443, 136...
4  kJzGH0PVQHQ  ...  [1454, 6891, 8573, 8574, 4322, 8975, 8974, 799...

[5 rows x 5 columns]

In [0]:
newdf1 = newdf.iloc[:, [0, 1, 4, 6, 5]]

In [0]:
cat24 = []
for i in newdf1.iloc[:, 3]:
  if i[0] == 24:
    cat24.append(i)

In [0]:
len(cat24)

421

In [0]:
def jaccard_similarity(query, document):
    intersection = set(query).intersection(set(document))
    union = set(query).union(set(document))
    return len(intersection)/len(union)

In [0]:
for i in cat24:
  print(jaccard_similarity(cat24[0], i))
  break

1.0

In [0]:
def recommend(id):
  video_tags = []
  lim = 10
  v_limit = 0
  if len(id) > lim:
    v_limit =  lim
  else:
    v_limit = len(id)

  for i in range(v_limit):
    video_idx = list(newdf1.iloc[:, 0].values).index(id[i])
    video_tags = video_tags + newdf1.iloc[video_idx][3]

  similarity_vidoes_score = []
  
  for i in range(len(newdf1.iloc[:, 3])):
    # if newdf1.iloc[:, 3].values[i][0] == video_tags[0] and newdf1.iloc[:, 0].values[i] != id:
    if newdf1.iloc[:, 0].values[i] not in id:
      similarity_dic = {
          'vid' : newdf1.iloc[:, 0].values[i],
          'similarity' : jaccard_similarity(video_tags, newdf1.iloc[:, 3].values[i])
      }
      similarity_vidoes_score.append(similarity_dic)
  # print(similarity_vidoes_score)
  print(sorted(similarity_vidoes_score, key = lambda i: i['similarity'], reverse=True)[:4])
  # print(video_idx)


  # print(all_same_cat_tags)

recommend(['3Kwpk9J8tJM', 'BgYJmXbIVZo', '6I2yAoxBRtI', 'kJzGH0PVQHQ'])

[{'vid': 'vzo3Q9VSePM', 'similarity': 0.4270833333333333}, {'vid': 'Ji2s_4DFCIg', 'similarity': 0.4270833333333333}, {'vid': '#NAME?', 'similarity': 0.13761467889908258}, {'vid': 'urOa95MSbA8', 'similarity': 0.058823529411764705}]

In [0]:
recommend(['6I2yAoxBRtI'])

[{'vid': '4q8gvlRQh84', 'similarity': 0.06060606060606061}, {'vid': 'LyqEhGyeF5g', 'similarity': 0.044444444444444446}, {'vid': 'LyqEhGyeF5g', 'similarity': 0.044444444444444446}, {'vid': '8wRYvW8s7n0', 'similarity': 0.043478260869565216}]

In [0]:
newdf1.to_csv('dataset.csv', index=False)

In [0]:
hdf1 = pd.read_csv('dataset.csv')

In [0]:
hdf1.head()

      video_id  ...                                             tagsid
0  kzwfHumJyYc  ...  [8140, 8143, 8141, 8142, 8145, 7538, 7541, 754...
1  zUZ1z7FwLc8  ...  [9337, 9345, 9290, 6891, 8660, 7368, 5353, 557...
2  10L1hZ9qa58  ...  [3969, 3968, 947, 7256, 7992, 5433, 5432, 7245...
3  N1vE8iiEg64  ...  [1354, 4108, 1451, 2726, 1710, 3824, 1443, 136...
4  kJzGH0PVQHQ  ...  [1454, 6891, 8573, 8574, 4322, 8975, 8974, 799...

[5 rows x 5 columns]

In [0]:
import json

In [0]:
for i in range(len(hdf1.iloc[:, 3].values)):
  hdf1.iloc[:, 3].values[i] = json.loads(hdf1.iloc[:, 3].values[i])

In [0]:
for i in range(len(hdf1.iloc[:, 4].values)):
  hdf1.iloc[:, 4].values[i] = json.loads(hdf1.iloc[:, 4].values[i])

In [0]:
def recommend(id):
  video_tags = []
  lim = 10
  v_limit = 0
  if len(id) > lim:
    v_limit =  lim
  else:
    v_limit = len(id)

  for i in range(v_limit):
    video_idx = list(hdf1.iloc[:, 0].values).index(id[i])
    video_tags = video_tags + hdf1.iloc[video_idx][3]

  similarity_vidoes_score = []
  
  for i in range(len(hdf1.iloc[:, 3])):
    # if newdf1.iloc[:, 3].values[i][0] == video_tags[0] and newdf1.iloc[:, 0].values[i] != id:
    if hdf1.iloc[:, 0].values[i] not in id:
      similarity_dic = {
          'vid' : hdf1.iloc[:, 0].values[i],
          'similarity' : jaccard_similarity(video_tags, hdf1.iloc[:, 3].values[i])
      }
      similarity_vidoes_score.append(similarity_dic)
  # print(similarity_vidoes_score)
  print(sorted(similarity_vidoes_score, key = lambda i: i['similarity'], reverse=True)[:4])
  # print(video_idx)


  # print(all_same_cat_tags)

recommend(['3Kwpk9J8tJM', 'BgYJmXbIVZo', '6I2yAoxBRtI', 'kJzGH0PVQHQ'])

[{'vid': 'vzo3Q9VSePM', 'similarity': 0.4270833333333333}, {'vid': 'Ji2s_4DFCIg', 'similarity': 0.4270833333333333}, {'vid': '#NAME?', 'similarity': 0.13761467889908258}, {'vid': 'urOa95MSbA8', 'similarity': 0.058823529411764705}]